.Rproj.user
.Rhistory
.RData
/data/physeq_withEerie.RData
/data/fasttree/cut_test.fasta
/data/fasttree/rep_16s_seqs.fasta
/data/fasttree/test.fasta
/data/fasttree/total.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.an.unique_list.0.03.rep.fasta
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
data/Figure5/old/cut_test.fasta
data/Figure5/old/test.fasta
data/Figure5/rep_16s_seqs.fasta
data/Figure5/total.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.an.unique_list.0.03.rep.fasta

